.box {
  font-family:sans-serif;
  background-color: white;
  border-radius: 20px;
  margin: 10px 30px 10px;
  padding: 20px 30px;
}

.centering {
  display: flex;
  justify-content: center;
}

.category {
  background-color: rgb(29, 29, 29);
  color: rgb(231, 231, 231);
  width: 250px;
  padding: 15px 30px;
  text-align: center;
  border-radius: 10px;
  margin: 0 auto;
  font-size: large;
  font-weight: 700;
}

.type {
  background-color: rgb(234, 68, 68);
  width: 150px;
  padding: 7px 1px;
  text-align:center;
  border-radius: 20px;
  font-size: 14px;
  margin: 10px auto;
}

.difficulty {
  background-color: rgb(234, 68, 68);
  width: 150px;
  padding: 7px 1px;
  text-align:center;
  border-radius: 20px;
  font-size: 14px;
  margin: 10px auto;
}

.question {
  color: #333;
  padding: 7px 1px;
  text-align:center;
  border-radius: 7px;
  font-size: 20px;
  margin: 10px auto;
  width: 700px;
}

.nextquestion {
  display: flex;
  justify-content: center;
}

.nextbutton {
  border:none;
  cursor:pointer;
  color: white;
  background-color: rgb(34, 122, 229);
  padding: 10px 20px;
  border-radius:10px;
  text-align:center;
  width: 150px;
  cursor:pointer;
}

.answerbutton {
  background-color: rgb(62, 62, 62);
  border: none;
  padding: 10px 20px;
  margin: 10px auto;
  width: 600px;
  max-width: 60%;
  color: #e1e1e1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.disabledanswerbutton {
  background-color: rgba(107, 102, 102, 0.36);
  border: none;
  padding: 10px 20px;
  margin: 10px auto;
  color: #22222252;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.incorrectanswer {
  background-color: rgb(252, 85, 85);
  border: none;
  padding: 10px 20px;
  margin: 10px auto;
  width: 600px;
  max-width: 60%;
  color: #22222252;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.correctanswer {
  background-color: rgb(77, 170, 77);
  border: none;
  padding: 10px 20px;
  margin: 10px auto;
  width: 600px;
  max-width: 60%;
  color: #22222252;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}